<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calnader App - Django Learnig Project</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'myapp/icons/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'myapp/css/booststrap.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  {% block content %} {% endblock %}
  <script src="{% static 'myapp/js/calander.js' %}"></script>

  <script>
    var csrf_token = '{{ csrf_token }}';
  </script>
</body>

</html>