{% extends 'myapp/base.html' %} {% block content %}
<div class="container form-group">
  <br>
  <div class="row">
    <div class="col-lg-4">
      <h1>Add new entry</h1>
    </div>
    <div class="col-lg-8">
      <button onclick="window.location='{% url 'calander' %}'" class="btn btn-success">Go Back</button>
    </div>
  </div>
  <br>
  <form method="POST">
    {% csrf_token %} {% for field in form %} {{ field.errors }}
    <label>{{ field.label }}</label>
    <input placeholder="{{ form.label }}" name="{{ field.name }}" class="form-control" /> {% endfor %}
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
{%endblock%}